<div class="row form-contact">
    <div class="col-8">
        <h4 class="text-muted">¡DEJA TU CONSULTA!</h4>
        <form #queriesForm="ngForm" (ngSubmit)="onQueryCreate(queriesForm.value)">
            <div class="mb-3 lead">
                <label class="form-label">Nombre</label>
                <input type="text" name="name" class="form-control" ngModel required minlength="4">
            </div>
            <div class="mb-3 lead">
                <label class="form-label">Apellido</label>
                <input type="text" name="surname" class="form-control" ngModel>
            </div>
            <div class="mb-3 lead">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" placeholder="name@example.com" ngModel>
            </div>
            <div class="mb-3 lead">
                <label class="form-label">Mensaje</label>
                <textarea name="message" class="form-control" rows="3" ngModel></textarea>
            </div>
            <input type="submit" value="Enviar">
        </form>
    </div>
    <div class="col-4 contact">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/contact.png" alt="Card image cap">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Tandil, CP 7000, Argentina</li>
                <li class="list-group-item text-center">✆ +54 249 424 1326</li>
                <li class="list-group-item text-center">✉ contact@cuca.com</li>
            </ul>
        </div>
    </div>
</div>