<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="assets/img/logo_cuca.png" alt="" height="15%" width="15%">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page">Home</a>
        <a class="nav-link" [routerLink]="['/products']">Colección 2022</a>
        <a class="nav-link" [routerLink]="['/about']">¿Quiénes somos?</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="bg-light text-center text-lg-start" >
  <div class="text-center p-3">
    © 2022 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">{{title}}</a>
  </div>
</footer>


