<div class="row row-cols-1 row-cols-md-3 g-4" >
  <div class="col" *ngFor="let product of products">
    <div class="card" [ngClass]="{'clearance' : product.clearance}">
      <img [src]="product.image" class="card-img-top" [alt]="product.name">
      <div class="card-body">
        <p class="card-title">{{product.type}} "{{product.name}}" </p>
        <p class="card-text">{{product.price | currency}}</p>
        <p *ngIf="product.stock<=0" class="card-text badge rounded-pill text-bg-secondary">Sin stock</p>
      </div>
    </div>
  </div>
</div>