<div class="row">
  <div class="col-9">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let product of products">
        <div class="card" [ngClass]="{'clearance' : product.clearance}">
          <img [src]="product.image" class="card-img-top" [alt]="product.name">
          <div class="card-body">
            <p class="card-text" *ngIf="product.clearance" style="font-style: oblique;">Producto destacado</p>
            <h6 class="card-title">{{product.type}} "{{product.name}}"</h6>
            <p class="card-text">{{product.price | currency}}</p>
            <p *ngIf="product.stock<=0" class="card-text badge rounded-pill text-bg-danger">Sin stock</p>
            <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock>0">
            </app-input-integer>
            <a type="button" *ngIf="product.stock>0 && product.quantity>0" class="card-text badge rounded-pill text-bg-secondary"
              style="text-decoration:none;" (click)="addToCart(product)">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <app-cart></app-cart>
  </div>
</div>