<div class="conteiner">
    <div class="left" >
        <img src="assets/img/about.png" alt="">
    </div>
    <div class="right">
        <h3>Cuca "la grande"</h3>
        <p>Emprendimiento Tandilense nacido en 2018.</p>
        <p>Su dueña se llama Marisol y además de ser una excelente profesional formada en Ciencias Ambientales, es
            una
            aficionada de las ventas, de las fotos y del manejo de las redes.</p>
        <p>Cuca tiene como objetivo reunir productos de diseñadores de la zona, creando productos únicos. Solo se
            realizan ventas minoristas.</p>
    </div>
</div>