<div class="stock-buy">
  <a type="button" class="card-text badge rounded-pill text-bg-secondary" style="text-decoration:none;" (click)="downQuantity()">-</a>
      <input type="text" style="width:6%; border: none; background: none; font-size: smaller;"
        [(ngModel)]="quantity">
         <!--dentro de input pero no anda (keyup)="changeQuantity($event, product)"-->
  <a type="button" class="card-text badge rounded-pill text-bg-secondary" style="text-decoration:none;"  (click)="upQuantity()">+</a> 
</div>
